language: node_js

sudo: required

dist: trusty

node_js:
  - "8"
  - "10"

services:
  - postgresql

before_script:
  - psql -c 'create database travis;' -U postgres
  - npm run setup-db

script:
  - npm test
  - npm run doc

env:
  - NODE_ENV=travis

deploy:
  provider: pages
  local-dir: docs
  github-token: $GITHUB_TOKEN
  skip-cleanup: true
  keep-history: true
  on:
    branch: master
